@import 'common/header.scss';

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
h1{
    font-family: 'Roboto';
}
.img{
    background: url('../images/picture.png') no-repeat;
    width: 100%;
    height: 210px;
}


